body{
    text-align: center;
}

button{
    width: 70px;
    height: 100px;
    border-radius: 360px;
    font-weight: bold;
    font-size: 20px;
}

#visor{
    width: 500px;
    height: 110px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-size: 60px;
    border-radius: 10px;
    border-width: 10px;
    background-color: white;
    text-align: right;
}
    #igual{
        width: 140px;
        background-color: aqua;
    }